.footer {
  background-color: var(--darkgrey);
  padding: 2rem 5%;
  margin-bottom: 0px;
  color: var(--white);
  text-align: center;
  width: 52.9vh;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--green);
}

.footer-text {
  font-size: 0.9rem;
  color: var(--grey);
}

.footer-links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links a {
  color: var(--white);
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: var(--green);
}
